# Build directories
build/
cmake-build-*/
out/

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*
.idea/
*.swp
*~

# Compiled objects
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe

# OS files
.DS_Store
Thumbs.db

# compile_commands
compile_commands.json

*.log
images/daw_ref.png
images/
